button {
  background-color: #20706b;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.delete {
  background-color: #1204aa;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

button:hover {
  background-color: #5844b9;
}

.todo-item {
  background-color: #dc99ed;
  width: 400px;
  margin-bottom: 8px;
  border-radius: 10px;
}

.todo-item.completed {
  background-color: #e0e0ff; /* Light green background for completed tasks */
  text-decoration: line-through;
  border-radius: 10px;
}

.todolist {
  align-self: center;
}
